*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --clr-text: hsl(60, 40%, 2%);
  --clr-background: hsl(50, 45%, 90%);
  /* --clr-primary: hsl(48, 46%, 74%); */
  --clr-primary: hsl(268, 88%, 62%);
  --clr-primary-hover: hsl(268, 88%, 67%);
  --clr-secondary: hsl(34, 34%, 96%);
  --clr-accent: hsl(0, 57%, 75%);
  --clr-accent-hover: hsl(0, 57%, 80%);
}

@media (prefers-color-scheme: dark) {
  :root {
      --clr-text: hsl(50, 45%, 90%);
      --clr-background: hsl(60, 40%, 2%);
      --clr-primary: hsl(268, 88%, 62%);
      --clr-primary-hover: hsl(268, 88%, 67%);
      --clr-secondary: hsl(36, 23%, 23%);
      --clr-accent: hsl(345, 47%, 55%);
      --clr-accent-hover: hsl(345, 47%, 60%);
    }
}

html {
  color-scheme: light dark;
}

body {
  background-color: var(--clr-background);
  color: var(--clr-text);
  padding: 1rem;
  font-family: 'Amatic SC', Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  max-width: 1400px;
  margin: auto;
}

h1, h2, h3 {
  font-family: 'Palette Mosaic', Arial, cursive;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1.1em;
}

button {
  border: 2px solid var(--clr-primary);
  background-color: var(--clr-primary);
  padding: .5em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1em;
  border-radius: .3em;
  line-height: 1;
}

button:hover,
button:focus {
  background-color: var(--clr-primary-hover);
}

.page-content-wrapper {
  padding-inline: 1rem;
}

/* NAVBAR */

#navbar {
  position: sticky;
  top: 1rem;
  background-color: var(--clr-secondary);
  padding: .5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2.5em;
  z-index: 10;
  margin-bottom: .5em;
  box-shadow: 0 10px 15px -15px #222;
}

.links-wrapper {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.links-wrapper .nav-link {
  font-weight: 700;
  text-decoration: none;
}

.links-wrapper .nav-link:visited {
  color: var(--clr-text)
}

.links-wrapper .nav-link:hover,
.links-wrapper .nav-link:focus {
  color: var(--clr-primary);
}

.shopping-cart-btn {
  --_notification-size: .65em;

  position: relative;
  border-radius: 2em;
  padding: .5em;
  z-index: 100;
}

.cart-qty {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--_notification-size) * 2);
  aspect-ratio: 1;
  bottom: 0;
  right: 0;
  background-color: var(--clr-accent);
  color: var(--clr-secondary);
  font-size: var(--_notification-size);
  transform: translate(25%, 25%);
  border-radius: var(--_notification-size);
}

/* PRODUCT */

.products-wrapper {
  --_number-of-cols: 1;

  display: grid;
  gap: 1.5rem;
  margin-top: 1em;
  grid-template-columns: repeat(var(--_number-of-cols), 1fr);
  grid-auto-rows: 1fr;
}

/* small */
@media (min-width: 700px) {
  .products-wrapper {
    --_number-of-cols: 2;
  }
}

/* medium */
@media (min-width: 1000px) {
  .products-wrapper {
    --_number-of-cols: 3;
  }
}

/* large */
@media (min-width: 1400px) {
  .products-wrapper {
    --_number-of-cols: 4;
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-secondary);
  flex-basis: 350px;
  flex-grow: 1;
  border-radius: 1em;
}

.product-img {
  object-fit: cover;
  height: 200px;
  border-radius: 1em 1em 0 0;
}

.product-card-bottom {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  flex-grow: 1;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
}

.product-name {
  text-transform: uppercase;
  margin-inline-end: 1em;
}

.add-to-cart-btn {
  width: 100%;
}

/* CART CONTROLS */

:where(.shopping-cart) .shopping-cart-controls-container {
  container: shopping-cart-controls / inline-size;
}

.shopping-cart-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-remove-one-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-block-end: 1em;
}

.item-qty {
  font-size: 1.5em;
}

.remove-one-btn {
  background-color: transparent;
}

.remove-from-cart-btn {
  font-size: .75em;
  background-color: var(--clr-accent);
  border-color: var(--clr-accent);
  color: var(--clr-secondary);
}

.remove-from-cart-btn:hover {
  background-color: var(--clr-accent-hover);
}

@container shopping-cart-controls (max-width: 350px) {
  .shopping-cart-controls {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .add-remove-one-wrapper {
    flex-direction: column-reverse;
    gap: 0;
    margin-block-end: 0;
    margin-inline-end: 1em;
  }
}